In [1]:
#List
fruits = ["apple", "banana", "cherry"]
print(fruits[1])
fruits.append("orange")

fruits.remove("banana")

for fruit in fruits:
    print(fruit)

banana
apple
cherry
orange

In [3]:
# Tuple
colors = ("red", "green", "blue")
print(colors[0])

one_item = ("hello",)

red

In [5]:
# Set
numbers = {1, 2, 3, 2}
print(numbers)  # {1, 2, 3}

numbers.add(4)

numbers.discard(2)

{1, 2, 3}

In [31]:
# Dict
student = {"name": "Ali", "age": 22, "grade": "A"}

print(student["name"])

student["university"] = "Dokuz Eylül Uni"

for key, value in student.items():
    print(f"{key}: {value}")

Ali
name: Ali
age: 22
grade: A
university: Dokuz Eylül Uni

In [33]:
x = int(input("Enter a number: "))

if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Enter a number:  0

Zero

In [13]:
for i in range(1, 3):
    print(i)

1
2

In [15]:
count = 0
while count < 5:
    print("Number:", count)
    count += 1

Sayı: 0
Sayı: 1
Sayı: 2
Sayı: 3
Sayı: 4

In [17]:
for i in range(10):
    if i == 5:
        break
    if i % 2 == 0:
        continue
    print(i)

1
3

In [19]:
def greet():
    print("Merhaba!")
greet()

Merhaba!

In [21]:
def square(n):
    return n * n
print(square(5))

25

In [23]:
def toplam(*args):
    return sum(args)
print(toplam(1, 2, 3, 4))

def kisi_bilgisi(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
kisi_bilgisi(ad="Ali", yas=22)

10
ad: Ali
yas: 25

In [25]:
class Araba:
    def __init__(self, marka, model):
        self.marka = marka
        self.model = model

    def bilgi(self):
        print(f"{self.marka} {self.model}")

arac = Araba("Toyota", "Corolla")
arac.bilgi()

Toyota Corolla

In [35]:
class Hayvan:
    def ses_cikar(self):
        print("Animal Sound")

class Kedi(Hayvan):
    def ses_cikar(self):
        print("Meow")

k = Kedi()
k.ses_cikar()

Meow

In [37]:
try:
    sayi = int(input("Enter a integer: "))
    print(10 / sayi)
except ZeroDivisionError:
    print("Division by zero error!")
except ValueError:
    print("Invalid input, it must be a number.")
finally:
    print("Complete.")

Enter a integer:  0

Division by zero error!
Complete.